/* External CSS Stylesheet for Meeting Minutes */

@media screen and (min-width: 500px) {
    main {
        font-size: 12pt;
    }
}

/* Universal Selector */
* {
    font-family: 'Montserrat', sans-serif;
}

/* List items in the meeting minutes */
li {
    color: gray;
}

/* Element Selector */
h1 {
    color: #2E2252;
    border-style: solid;
    border-color: #2E2252;
    border-width: 1lh;
    border-radius: 15px;
    margin: auto;
    padding: 0.5em;
    text-decoration: underline;
    text-align: center;
    position: sticky;
    top: 20px;
    background-color: white;
}

/* Meeting Name */
h2 {
    color: rgb(145, 113, 83);
    border: 2px solid rgb(145, 113, 83);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: block;
}

/* Date */
h3 {
    color: hsl(149, 27.2%, 44.7%);
    margin: 1em 1em 1em 1em;
    text-align: center;
}

/* Individual Section Headers */
section {
    background-color: beige;
}

/* Normal Test */
p {
    display: inline-block;
}

/* Meeting Picture */
img {
    height: 400px;
    width: 400px;
    max-height: 300px;
    max-width: 300px;
    position: relative;
    left: 100px;
}

/* Submit Button */
button:hover {
    color: blue;
}

/* Psuedo-Class Selector */
button:active {
    box-shadow: 2px 2px 5px black;
}

/* Class Selector */
.normaltext {
    color: gray;
}

/* ID Selector */
summary#meeting_pictures {
    text-decoration: underline;
}

/* Combining Two Selectors (element#id) */
summary#meeting_recording {
    text-decoration: underline;
}

/* Attribute Selector */
section[id] {
    font-size: 150%;
}

/* Selector List */
h1,
h2,
h3 {
    font-weight: bolder;
}

/* Descendent Combinator */
details p {
    font-weight: bold;
}

/* Child Combinator */
ol > li {
    border-top: 1px dashed gray;
}

/* General Sibling Combinator */
br ~ label {
    font-size: 75%;
}

/* Adjacent Sibling Combinator */
section + ul {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 15px;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

div.option {
    background: beige;
    border: 1px solid #2E2252;
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    align-items: center;
    align-content: stretch;
    background: beige;
}

.flex > div {
    margin: 10px;
    text-align: center;
}